@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #353641;
}

*{
  box-sizing: border-box;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}